html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    display: grid;
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(img/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:  rgba(255, 121, 120, 0.7);
}

.wrapper {
    display: grid;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 16;
}

.header {
    display: grid;
    align-self: center;
    justify-self: center;
    grid-area: 2 / 2 / span 2 / 3;
    margin: 80px 20px 20px 20px;
    
}

.headerTitle {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    color: white;
}

.headerText {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    color: white;
    max-width: 400px;
}

.main {
    display: grid;
    align-self: center;
    justify-self: center;
    grid-area: 5 / 2 / span 2 / 3;
    margin: 20px 20px 20px 20px;
}

.promotionText {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 15px 65px 15px 65px;
    color: white;
    background-color: rgb(93, 84, 163);
    box-shadow: 0px 10px rgb(218, 105, 107);
    border-radius: 10px;
    font-size: 13px;
}

.form {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    
}

.formList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 0px 10px rgb(218, 105, 107);
    border-radius: 10px;
    list-style-type: none;
}

.nameList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
}

.name {
    align-self: center;
    justify-self: center;
    padding: 10px 30px 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.surnameList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
}

.surname {
    align-self: center;
    justify-self: center;
    padding: 10px 30px 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.emailList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
}

.email {
    align-self: center;
    justify-self: center;
    padding: 10px 30px 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.passwordList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
}

.password {
    align-self: center;
    justify-self: center;
    padding: 10px 30px 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.buttonList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
}

.buttonClaim {
    align-self: center;
    justify-self: center;
    padding: 20px 45px 20px 45px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgb(119, 212, 180);
    box-shadow: 0px 5px rgb(141, 189, 167);
    border-radius: 10px;
    border: none;
}

.formTermsList {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 0px 10px 10px 10px;
    
}

.formTerms {
    align-self: center;
    justify-self: center;
    padding: 0px 0px 0px 10px;
    color: gray;

}

.smallText {
    align-self: center;
    justify-self: center;
    padding: 0px 20px 0px 20px;
    color: gray;
    font-size: 10px;
}

.name:active, .surname:active, .email:active, .password:active {
    color: black;
    border-color: gray;
}

.name:hover, .surname:hover, .email:hover, .password:hover {
    color: black;
    border-color: gray;
}

.buttonClaim:hover {
    cursor: pointer;
    background-color: rgb(104, 199,158);
}

/* For mobile phones: */

/* Portrait xs */
@media only screen and (min-width: 360dp) {
    .body {
        background-image: 'url(img/bg-intro-mobile)';
    }
   
}

/* For tablets: */
@media only screen and (min-width: 600dp) {
    .body {
        background-image: 'url(img/bg-intro-desktop)';
        
    }
    .wrapper {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(8, auto);
        grid-gap: 24;
        align-self: center;
        justify-self: center;
    }

   
}

/* For desktop: */
@media only screen and (min-width: 1280dp) {
    .body {
        display: grid;
        width: 100%;
        margin: 0;
        height: auto;
        background-image: 'url(img/bg-intro-desktop)';
    
    }
    .wrapper {
        display: grid;
        width: 100%;
        min-height: 200px;
        height: auto;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 24;
        justify-content: space-between;
        grid-template-areas: 
        "           "
        "header main"
        "           ";
    }

    .header {
        display: grid;
        grid-area: "header";

    }

    .main {
        display: grid;
        grid-area: "main";
        
    }
   
} 
